{% extends 'layout/app.twig' %}

  {% block  body %}

  {% if auth.check %}

    {% include 'layout/partials/header.twig' %}


    <!-- Left Sidebar  -->
    {% include 'layout/partials/sidebar.twig' %}

    <!-- End Left Sidebar  -->
    <!-- Page wrapper  -->
    <div class="page-wrapper">

        <!-- Bread crumb -->
        {# {% include 'layout/partials/breadcrumb.twig' %} #}
        <!-- End Bread crumb -->

            <!-- Flash -->
        {% include 'layout/partials/flash.twig' %}
        <!-- End flash -->

        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->

              <div class="row">
                    <div class="col-12">
                        <div class="card">
                                 <div class="card-body">

                                     <!-- Return number of drafts  -->
                                        {% if students.drafts  %}
                                        <div class="alert alert-danger">
                                         <span class="badge  badge-pill badge-primary"> {{ students.drafts }}</span>
                                         &nbsp;&nbsp;
                                          Data in  draft. Please complete all the   registration
                                         
                                         <a href="{{ path_for('draft.index')}}">
                                            &nbsp; &nbsp; <span class="badge  bade-pill badge-info">Open  Draft >>></span>
                                         </a>
                                        </div>
                                        
                                        {% endif %}

                                      <!-- End Drafts  -->

                            {% block content %}


                            {% endblock %}
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->

            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->

        {% endif %}
{% endblock %}