.card-main {
    padding: 60px;
}
.pagination-main{
    margin: 10px;
}

.cardheader-main {
    padding: .15rem 1.0rem;
    margin-bottom: 0;
    background-color: #21ba450a;
    /* background-color:#21ba4529; */
    /* #028ee12b; */
    /* #21ba452b; */
    /*  */
    border-bottom: 1px solid rgba(109, 51, 51, 0.28);
    
}
.card-title-main{
    color: #fff;
}

/* wizard */

.student-list {
    background: #ece5e5;
    padding: 10px; 
}
.student-list-item {
    margin-left: 20px;
    margin-right: 20px;
}

/* single page */
.single_p
{
  color:   rgba(0,0,0,.9);
  line-height: 24px;
  font-size: 17px;

}
.text-mute
{
    color:#524949 !important;
}
.single_item{
    font-weight: bold;
}

/* dashboard */
.m-b-0{

  color: #616d88;
  font-size: 15px;
  font-weight: bold;
}

/* reports */
.mim{
    margin-bottom:20px;
}

/* results */
.add_result
{
    padding-top: 10px;
}