
{% if flash.getMessage('success')%}
    <div class="col-md-7 offset-md-2">
        <div class="alert alert-success" role="alert">
            {{ flash.getMessage('success') | first }}
        </div>
    </div>
{% endif %}

{% if flash.getMessage('danger')%}
    <div class="col-md-7 offset-md-2">
        <div class="alert alert-danger" role="alert">
            {{ flash.getMessage('danger') | first }}
        </div>
    </div>
{% endif %}
