
{% if flash.getMessage('success')%}
    <div class="col-md-7 offset-md-2">
        <div class="alert alert-success" role="alert">
           <i class="fa fa-smile-o" aria-hidden="true"></i>  {{ flash.getMessage('success') | first }}
        </div>
    </div>
{% endif %}

{% if flash.getMessage('danger')%}
    <div class="col-md-7 offset-md-2">
        <div class="alert alert-danger" role="alert">
           <i class="fa fa-minus-circle" aria-hidden="true"></i>   {{ flash.getMessage('danger') | first }}
        </div>
    </div>
{% endif %}


{% if flash.getMessage('warning')%}
    <div class="col-md-7 offset-md-2">
        <div class="alert alert-warning" role="alert">
           <i class="fa fa-minus-circle" aria-hidden="true"></i>   {{ flash.getMessage('warning') | first }}
        </div>
    </div>
{% endif %}